version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mouem-mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: moeum
    ports:
      - "10039:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    command: server --console-address ":9001" /data
    networks:
      - backend

networks:
  backend:

volumes:
  mysql-data:
  minio-data: