spring:
  jpa:
    hibernate:
      ddl-auto: update   # 또는 update / create / validate 등 상황에 따라 선택
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org:
      springframework:
        security: DEBUG